*{
    font-size: 18px;
    text-decoration: none !important;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
:root{
    --main:#ff913b;
    --second:#fff;
    --bacgrond:#f4f6fb;
    --bg-2:#f4f6fb;

}
#navbar{
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    background:var(--second);
    z-index: 2;

}
#navbar span{
    display: none;
}
#navbar .img-sec{
    text-align: center;
    animation: slideLeft 1s ease forwards;
}
@keyframes slideLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
#navbar .img-sec a img{
    width: 60%;
}
#navbar .tab-links a{
    margin: 0 5px;
    color: black;
    font-weight: 700;
    transition: 0.3s;
    opacity: 0;
    animation: sildeTop .5s forwards;
    animation-delay: calc(.3s * var(--i));
}
@keyframes sildeTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
#navbar .tab-links .tab-item{
    padding: 5px 10px;
    background: var(--main);
    color: var(--second);
    border-radius: 10px;
}
#navbar .tab-links a:hover{
    color: #ff913b;
}

/*============ Head section ============*/

.head-sec{
    width: 100%;
    padding: 100px 0 30px;
    background: #f4f6fb;
}
.head-sec .img-sec img{
    width: 80%;
}
.head-sec .head-text h3{
    font-size: 35px;
}
.head-sec .head-text p{
    padding-top: 5px;
    font-size: 18px;
    font-weight: 500;
}
.head-sec .form-content{
    margin-top: 45px;
    background-color: var(--second);
    padding: 30px 45px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}
.form-content .form-tab{
    margin:5px 0 ;
}
.form-content .form-tab-btn{
    margin: 30px 0 15px;
    text-align: center; 
}
.form-content .form-tab-btn .frm-btn{
    padding: 10px 25px;
    background: var(--main);
    color: var(--second);
    text-transform: uppercase;
}
.heading{   
    margin: 50px;
    display: flex;
    justify-content: center;
}
.heading h3{
    padding: 6px 40px;
    font-weight: 600;
    clip-path: polygon(
        calc(0% + 30px) 0%, calc(100% - 30px) 0%, 100% 100%, 0% 100% );
    text-transform: uppercase;
    background-color: var(--main);
    color: var(--second);
}

/*============ Services section ============*/


.service-area{
    padding: 35px 0;
}
.service-area .tab{
    display: block;
    width: 100%;
}
.service-area .tab .tablink{
    width: 100%;
    background: #fff;
    border: 1px solid var(--main);
    text-align: start;
    padding: 7px 20px;
    font-size: 15px;
    font-weight: 600;
}
.service-area .tab .tablink.active{
    color: var(--second);
    background: var(--main);
}
.service-area .tab .tablink:focus{
    outline: none;
}
.service-area .tab-data-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #fff;
    padding: 25px 60px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.service-area .tabcontent{
    display: none;
}
.service-area .tabcontent p{
    font-size: 14px;
    text-align: justify;    
    margin-bottom: 45px;
    color: #777;
}
.service-area a{
    padding: 6px 0;
    border: 1px solid var(--main);
}
.service-area .text{
    padding: 6px 1px 0 10px;
    color: #333;
    font-weight: 600;
    font-size: 14px;
}
.service-area .icon{
    padding: 8px 10px;
    background: var(--main);
    color: var(--second);
    font-weight: 600;
    font-size: 15px;
}
.service-area .mob-view{
    display: none;
}

/* .service-area ul{
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.service-area ul li{
    border: 1px solid var(--main);
    padding: 6px 10px;
    cursor: pointer;
    margin-bottom: -2px;
}
.service-area .service-content .content-box{
 padding: 70px 25px;
 text-align: justify;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.service-content .content-box .content{
    font-size: 15px;
    color: #777;
}
.service-area .content-box .content-link{
    margin: 30px 0 0 0  ;
    display: inline-block;
}
.service-area .content-box .content-link a{
    padding: 6px 0;
    border: 1px solid var(--main);
}
.service-area .content-box .content-link .text{
    padding: 6px 1px 0 10px;
    color: #333;
    font-weight: 600;
    font-size: 14px;
}
.service-area .content-box .content-link .icon{
    padding: 8px 10px;
    background: var(--main);
    color: var(--second);
    font-weight: 600;
    font-size: 15px;
}
.service-area .service-content{
    display: none;
}
.service-area .service-content-box .active{
    display: block;
    color: #212529;
    background-color: var(--second);
}
.service-area .active{
    display: block;
    background: var(--main);
    color: var(--second);
} */

/*============ Sliderts section ============*/


.sliders{
    background: var(--main);
    padding: 60px 5px;
}
/* .sliders .inner{
    display: flex;
    justify-content: space-between;    
} */
.sliders .inner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.sliders .inner .counter{
    position: relative;
    width: 200px;
    text-align: center;
    color: var(--second);
}
.counter:not(:last-child)::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 70px;
    background: var(--second);
    top: 5%;
    right: -12px;
}
.sliders .inner h4,
.sliders .inner h4 span{    
    font-size: 32px;
    font-weight: 700;
}

/*============ Countrie section ============*/

.countrie-sec{
    background: var(--bacgrond);
    padding: 50px 0;
}
.countrie-sec .heading{
    margin: 0 0 50px 0;
}
.countrie-sec .country-text{
    padding: 0 180px;
    margin-bottom: 55px;
}
.countrie-sec span{
    width: 100%;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}
.countrie-sec span img{
    width: 100%;
}
.countrie-sec p{
    text-align: center;
    margin: 5px 0;
}
.countrie-sec .second-row{
    display: flex;
    justify-content: center;
}
.read-more-sec{
    text-align: center;
    margin: 50px 0 0 0;
}
.read-more-sec a{
    background: var(--main);
    color: var(--second);
    padding: 10px 30px;
    text-transform: uppercase;
}
.countrie-sec .two{
    display: none;
}

/*============ guarantee section ============*/

.guarantee{
    padding-bottom: 60px;
}
.guarantee .box h4{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.guarantee .box h4::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 5px;
    background: var(--main);
    top: -8px;
}
.guarantee .box p{
    font-size: 16px;
    font-weight: 500;
}

/*============ testimonial section ============*/

.testimonial{
    padding: 50px 0;
}
.testimonial .texti-box h2{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 50px;
    /* animation: leftSlide 3s ease; */
}
@keyframes leftSlide{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.testimonial .texti-box h2::before{
    content: '';
    position: absolute;
    background: var(--main);
    width: 18px;
    height: 2px;
    top: 9%;
    left: -2%;
}
.testimonial .texti-box h2 span{
    font-size: 42px;
    font-weight: 700;
    color: var(--main);
}
.testimonial .texti-box li{
    display: inline-block;
    width: 45%;
    padding: 10px;
    text-align: center;
}
.testimonial .texti-box li img{
    width: 100%;
    margin-bottom: 10px ;
}
.testimonial .texti-box li span{
    font-size: 25px;
    font-weight: 700;
}
.testimonial .texti-box li .icon{
    font-size: 28px;
    font-weight: 700;
    color: var(--main);
}
.testimonial .texti-box-1{
    background: var(--bg-2);
}
.testimonial .sub-text{
    background: var(--bacgrond);
}
.testimonial .sub-text .item{
    padding: 20px 180px 35px 40px;
    text-align: justify;
}
.testimonial .sub-text::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 120px;
    background: #8599cc3d;
    transform: skew(-167deg, 350deg);
    top: 21%;
    right: 20%;
}
.testimonial .sub-text::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 120px;
    background: #8599cc3d;
    transform: skew(-167deg, 350deg);
    top: 20%;
    right: 15%;
}
.testimonial .sub-text .item h2{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.testimonial .sub-text .item p{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}

/*============ tagline section ============*/

.tagline{
    background: var(--main);
    padding: 30px 40px;
}
.tagline .tag-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tagline .tag-box h2{
    font-size: 32px;
    font-weight: 700;
    color: var(--second);
}
.tagline .tag-box p{
    font-size: 18px;
    font-weight: 700;
    color: var(--second);
}
.tagline .read-more-sec{
    margin: 0;
}
.tagline .read-more-sec a{
    background: var(--second);
    color: var(--main);
}

/*============ guidebook section ============*/

.guidebook{
    padding: 20px 0 50px 0 ;
}
.guidebook .box{
    border: 5px solid var(--main);
    padding: 50px 80px;
    background: var(--bacgrond);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.guidebook .box h3{
    font-size: 48px;
    font-weight: 600;
    color: var(--main);
    text-align: center;
}
.guidebook .box h3{
    font-size: 48px;
    font-weight: 600;
    color: var(--main);
    text-align: center;
}
.guidebook .box h4{
    font-size: 28px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 50px;
}
.guidebook .box li{
    list-style: circle;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.guidebook .box .form-tab-btn{
    text-align: center;
    margin: 60px 0 40px;
}
.guidebook .box .frm-btn{
    background: var(--main);
}
.guidebook .inner-link input[type=email]{
    width: 70%;
}
.guidebook .inner-link input[type=tel]{
    padding-left: 89px !important;
}

/*============ footer section ============*/

footer{
    background: var(--bacgrond);
    padding: 20px 0;
    text-align: center;
}
footer span{
    font-size: 13px;
    margin-bottom: 25px;
}
footer p{
    margin: 5px;
    color: var(--main);
    font-weight: 600;
}
footer p a{
    color: var(--main);
}
footer p a:hover{
    color: var(--main);
}

/*============ Media QuerySection 768px ============*/

@media only screen and (max-width:768px){
    *{
        font-size: 12px;
    }
    #navbar{
        padding: 0 10px;
        height: 70px;
    }
    #navbar .img-sec{
        width: 42%;
    }
    #navbar .img-sec a img{
        width: 55%;
    }
    #navbar .tab-links a{
        margin: 0 3px;
    }

    /*============ Head section ============*/

    .head-sec .img-sec img{
        width: 95%;
    }
    .head-sec .head-text h3{
        font-size: 22px;
        font-weight: 600;
    }
    .head-sec .head-text p{
        font-size: 13px;
    }
    .head-sec .form-content{
        margin-top: 22px;
        padding: 20px 25px;        
    }
    .form-content .form-tab-btn{
        margin: 25px 0 15px;
    }
    .form-content .form-tab-btn .frm-btn{
        padding: 8px 20px;
    }
    .heading{   
        margin: 30px;
    }
    .heading h3{
        padding: 5px 32px;
        font-size: 22px;
    }
    /*============ Services section ============*/


    .service-area{
        padding: 15px 0;
    }
    .service-area .tab .tablink{
        padding: 6px 15px;
        font-size: 11px;
    }
    .service-area .tab-data-sec{
        padding: 25px 40px;
    }
    .service-area .tabcontent p{    
        margin-bottom: 30px;
        font-size: 11px;
    }
    .service-area .text{
        font-size: 12px;
    }
    .service-area .icon{
        padding: 6px 7px;
        font-size: 12px;
    }

    /*============ Sliderts section ============*/

    .sliders{
        background: var(--main);
        padding: 25px 10px;
    }
    .sliders .inner .counter{
        width: 120px;
    }
    .counter:not(:last-child)::before{
        width: 2px;
        height: 60px;
    }
    .sliders .inner h4,
    .sliders .inner h4 span{    
        font-size: 22px;
        font-weight: 700;
    }
    /*============ Countrie section ============*/

    .countrie-sec{
        padding: 40px 0;
    }
    .countrie-sec .heading{
        margin: 0 0 30px 0;
    }
    .countrie-sec .country-text{
        padding: 0 100px;
        margin-bottom: 35px;
    }
    .read-more-sec{
        margin: 30px 0 0 0;
    }
    .read-more-sec a{
        padding: 8px 22px;
    }
    
    /*============ guarantee section ============*/

    .guarantee{
        padding-bottom: 25px;
    }
    .guarantee .box h4{
        font-size: 18px;
    }
    .guarantee .box h4::before{
        width: 80px;
        height: 3px;
        top: -6px;
    }
    .guarantee .box p{
        font-size: 13px;
    }
    /*============ testimonial section ============*/

    .testimonial{
        padding: 30px 0;
    }
    .testimonial .texti-box h2{
        font-size: 30px;
        margin-bottom: 25px;
        /* animation: leftSlide 3s ease; */
    }
    .testimonial .texti-box h2::before{
        width: 15px;
        height: 2px;
        top: 6%;
        left: -1%;
    }
    .testimonial .texti-box h2 span{
        font-size: 30px;
    }
    .testimonial .texti-box li span{
        font-size: 18px;
    }
    .testimonial .texti-box li .icon{
        font-size: 18px;
    }
    .testimonial .sub-text .item{
        padding: 15px 160px 0px 20px;
    }
    .testimonial .sub-text::before{
        height: 80px;
    }
    .testimonial .sub-text::after{
        height: 80px;
    }
    .testimonial .sub-text .item h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .testimonial .sub-text .item p{
        font-size: 12px;
    }
    /*============ tagline section ============*/

    .tagline{
        background: var(--main);
        padding: 20px 30px;
    }
    .tagline .tag-box h2{
        font-size: 20px;
    }
    .tagline .tag-box p{
        font-size: 12px;
    }
    /*============ guidebook section ============*/

    .guidebook{
        padding: 15px 0 30px 0 ;
    }
    .guidebook .box{
        border: 3px solid var(--main);
        padding: 30px 50px;
    }
    .guidebook .box h3{
        font-size: 32px;
    }
    .guidebook .box h4{
        font-size: 18px;
        margin-bottom: 30px;
    }
    .guidebook .box li{
        margin-bottom: 10px;
        font-size: 13px;
    }
    .guidebook .box .form-tab-btn{
        margin: 30px 0 20px;
    }

    /*============ footer section ============*/

    footer{
        background: var(--bacgrond);
        padding: 15px 0;
        text-align: center;
    }
}

/*============ Media QuerySection 425px ============*/

@media only screen and (max-width:425px){
    #navbar{
        height: 55px;
    }
    #navbar .img-sec{
        width: 100%;
    }
    #navbar .img-sec a img{
        width: 55%;
    }
    #navbar .mobTab{
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        z-index: 5;
        width: 0;
        background: #111;
        transition: 0.4s;
        overflow: hidden;
        /* padding: 60px 17px; */
    }
    #navbar .mobTab a:nth-child(2){
        margin: 40px 0 0 0;
    }
    #navbar .mobTab a{
        display: block;
        padding: 8px 8px 8px 32px;
        font-size: 18px;
        color: var(--main);
        margin: 5px 0;
    }
    #navbar .mobTab .closebtn{
        position: absolute;
        color: var(--main);
        right: 3%;
        font-size: 25px;
        top: 1%;
    }
    #navbar .mobTab .tab-item{
        display: inline-block;
        margin: 8px 24px;
    }
    #navbar span{
        color: var(--main);
        font-size: 20px;
        margin: 0px 25px;
        cursor: pointer;
        display: block;
    }

    /*============ Head section ============*/
    
    .head-sec{
        padding: 65px 0 25px;
    }
    .head-sec .img-sec{
        text-align: center;
        margin-bottom: 10px;
    }
    .head-sec .img-sec img{
        width: 50%;        
    }
    .head-sec .head-text h3{
        font-size: 18px;
        font-weight: 600;
    }
    .head-sec .head-text p{
        font-size: 12px;
    }
    .head-sec .form-content{
        margin-top: 22px;
        padding: 15px 40px;        
    }
    .head-sec .form-content .iti{
        display: block;
    }
    .heading{   
        margin: 25px;
    }
    .heading h3{
        padding: 5px 30px;
        font-size: 20px;
    }


    /* .service-area .des-view{
        display: none;
    }
    .service-area .mob-view{
        display: block;
    } */


    .service-area .accordion-item{
        border: 1px solid var(--main);
    }
    .service-area .accordion-item .accordion-button{
        background: var(--main);
        color: var(--second);
    }
    /*============ Sliderts section ============*/

    .sliders{
        background: var(--main);
        padding: 25px 10px;
    }
    /* .sliders .inner{
        flex-direction: column;
    } */
    .sliders .inner .counter{
        width: 110px;
    }
    .counter:not(:last-child)::before{
        width: 2px;
        height: 60px;
        right: 0;
    }
    .counter:nth-child(3)::before{
        display: none;
    }
    .sliders .inner h4,
    .sliders .inner h4 span{    
        font-size: 22px;
        font-weight: 700;
    }
    /*============ Countrie section ============*/

    .countrie-sec{
        padding: 30px 0;
    }
    .countrie-sec .heading{
        margin: 0 0 20px 0;
    }
    .countrie-sec .one{
        display: none;
    }
    .countrie-sec .two{
        display: block;
    }
    .countrie-sec .country-text{
        padding: 0 50px;
    }
    .read-more-sec a{
        padding: 8px 20px;
    }
    /*============ guarantee section ============*/

    .guarantee .box{
        padding: 0 50px;
        margin-bottom: 30px;
    }

    /*============ testimonial section ============*/

    .testimonial{
        padding: 20px 0;
    }
    .testimonial .texti-box h2{
        font-size: 30px;
        margin-bottom: 25px;
        /* animation: leftSlide 3s ease; */
    }
    .testimonial .texti-box h2::before{
        top: 9%;
    }
    .testimonial .texti-box li span{
        font-size: 18px;
    }
    .testimonial .sub-text .item{
        padding: 15px 140px 0px 20px;
    }
    .testimonial .sub-text::before{
        height: 80px;
    }
    .testimonial .sub-text .item h2{
        font-size: 20px;
    }
    .testimonial .sub-text .item p{
        font-size: 12px;
    }
    /*============ tagline section ============*/

    .tagline{
        background: var(--main);
        padding: 20px 30px;
    }
    .tagline .tag-box{
        display: block;
    }
    .tagline .tag-box h2{
        font-size: 16px;
    }
    .tagline .tag-box p{
        font-size: 11px;
    }
    /*============ guidebook section ============*/

    .guidebook{
        padding: 15px 0 30px 0 ;
    }
    .guidebook .box{
        border: 3px solid var(--main);
        padding: 20px 30px;
    }
    .guidebook .box h3{
        font-size: 28px;
    }
    .guidebook .box h4{
        font-size: 15px;
        margin-bottom: 25px;
    }
    .guidebook .box li{
        margin-bottom: 10px;
        font-size: 11px;
    }
    .guidebook .box .form-tab-btn{
        margin: 30px 0 20px;
    }
    .guidebook .inner-link .lst{
        margin-bottom: 28px;
    }
    .guidebook .inner-link input[type=email]{
        width: 100%;
    }
    .guidebook .inner-link input[type=tel]{
        padding-left: 67px !important;
    }
    .guidebook .inner-link .iti__flag-container{
        width: 42%;
    }
    .guidebook .iti--separate-dial-code .iti__selected-dial-code{
        font-size: 11px;
        margin-left: 2px;
    }
    .guidebook .iti__arrow{
        margin-left: 2px;
    }
    /*============ footer section ============*/

    footer{
        background: var(--bacgrond);
        padding: 15px 0;
        text-align: center;
    }
    footer span{
        font-size: 11px;
        margin-bottom: 25px;
    }
}


/*============ Media QuerySection 375px ============*/

@media only screen and (max-width:375px){

    .head-sec .img-sec img{
        width: 80%;        
    }

    .testimonial .sub-text .item{
        padding: 15px 110px 0px 15px;
    }

   /*============ guidebook section ============*/

    .guidebook{
        padding: 15px 0 30px 0 ;
    }
    .guidebook .box{
        border: 3px solid var(--main);
        padding: 20px 30px;
    }
    .guidebook .box h3{
        font-size: 28px;
    }
    .guidebook .box h4{
        font-size: 15px;
        margin-bottom: 25px;
    }
    .guidebook .box li{
        margin-bottom: 10px;
        font-size: 11px;
    }
    .guidebook .box .form-tab-btn{
        margin: 30px 0 20px;
    }
    .guidebook .inner-link .lst{
        margin-bottom: 12px;
    }
    .guidebook .inner-link input[type=tel]{
        padding-left: 47px !important;
    }
    .guidebook .inner-link .iti__flag-container{
        width: 40%;
        padding: 0;
    }
    .guidebook .iti__flag.iti__in {
        background-position: -2417px;
    }
    .guidebook .iti--separate-dial-code .iti__selected-dial-code{
        font-size: 10px;
        margin-left: 1px;
    }.guidebook .iti__arrow{
        margin-left: 1px;
    }
    footer span{
        font-size: 10px;
    }
    footer p,footer p a{
        font-size: 11px;
    }
}